{% extends 'Shop_app/base.html' %}
{% load static %}

{% block title %}
Report
{% endblock %}

{% block header %}
<h1 class="display-4 fw-bolder">Report</h1>
<p class="lead fw-normal text-white-50 mb-0">How much did we earn?</p>
{% endblock %}

{% block content %}
    {% for x in sell %}
    <div class="d-flex justify-content-between comment_bk">
        <div class="d-flex" style="padding-right: 20px;">
            <div class="flex-shrink-1">
                <div>
                    <p align="justify" class="small mb-0">
                        The {{ x.salesman }} sold {{ x.number }} {{ x.product }} to the {{ x.buyer }} for {{ x.cost }} tenge.
                    </p><br>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}