{% extends 'Shop_app/base.html' %}
{% load static %}

{% block title %}
Secret
{% endblock %}

{% block header %}
<h1 class="display-4 fw-bolder">Secret</h1>
<p class="lead fw-normal text-white-50 mb-0">How did you do this?</p>
{% endblock %}

{% block content %}
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <div class="col mb-5">
        <div class="card h-100">
            <img style="height: 300px;" class="card-img-top" src="{% static 'Shop_app/img/jake-adventure-time.gif' %}" alt="...">
        </div>
    </div>
    <div class="col mb-5">
        <div class="card h-100">
            <img style="height: 300px;" class="card-img-top" src="{% static 'Shop_app/img/Ricardo_Milos.gif' %}" alt="...">
        </div>
    </div>
</div>
{% endblock %}